.container {
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "dis dis dis dis"
    "AC AC C div"
    "seven eight nine mult"
    "four five six minus"
    "one two three plus"
    "dot zero equal equal";
}

.inner-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  margin: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  outline: none;
  border-radius: 15px;
  border: 1px solid;
  cursor: pointer;
  font-size: 30px;
}

.inner-grid:hover{
  border: 1px solid rgb(235, 160, 212);
  background-color:rgb(209, 63, 209);
  color: white;
}
.output {
  grid-area: dis;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  color: white;
  text-align: right;
  padding: 10px 20px;
}
.output input {
  font-size: 20px;
  text-align: right;
  width:100%;
  color: white;
  background-color:rgba(0, 0, 0, 0.1);
}
.output .total{
  font-size: 30px;
  color: yellow;
  text-align: right;
  width:100%;
  height:20%;
  margin-bottom: 15px;
}

.C{
  grid-area: C;
  background-color: rgba(48, 14, 51, 0.4);
}

.AC {
  grid-area: AC;
  background-color: rgba(48, 14, 51, 0.4);
}
.equal {
  grid-area: equal;
  background-color: rgba(63, 5, 68, 0.4);
}
