.container {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "dis dis dis dis"
    "AC AC DEL div"
    "seven eight nine mult"
    "four five six minus"
    "one two three plus"
    "dot zero equal equal";
}

.inner-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  outline: none;
  border-radius: 15px;
  border: 1px solid;
  cursor: pointer;
  font-size: 20px;
}
.output {
  grid-area: dis;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  color: white;
  text-align: right;
  padding: 10px 20px;
}
.output .previousOutput {
  font-size: 20px;
  text-align: right;
  height:20%;
  width:100%;
  margin-bottom: 15px;
}
.output .nextOutput {
  font-size: 30px;
  color: yellow;
  text-align: right;
  width:100%;
  height:20%;
  margin-bottom: 15px;
}
.AC {
  grid-area: AC;
  background-color: rgba(48, 14, 51, 0.4);
}
.equal {
  grid-area: equal;
  background-color: rgba(63, 5, 68, 0.4);
}
